body
{
    background-color: #101010;
    color: #f3f3f3;
    overflow: hidden;
}

.logo, .podlogo
{
    font-family: "Verdana Regular";
    font-weight: 0px;
    position: absolute;
    padding-left: 1.5%;
}

.logo
{
    font-size: 30pt;
    letter-spacing: 10pt;
}

.podlogo
{
    padding-top: 4% ;
    font-size: 15pt;
    letter-spacing: 5pt;
}

.logo2, .podlogo2
{
    font-family: "Verdana Regular";
    font-weight: 0px;
}

.logo2
{
    font-size: 55pt;
    letter-spacing: 15pt;
}

.podlogo2
{
    font-size: 25pt;
    letter-spacing: 4pt;
    margin-top: -3%;
}

.reflectance_mascot, .backgrounds_bg1
{
    position: absolute;
}

.reflectance_mascot
{
    width: 40%;
    padding-top: 10%;
}

.backgrounds_bg1
{
    width: 100%;
}

#right
{
    text-align: right;
    position: relative;
    padding-top: 14%;
    padding-right: 3%;

    animation-name: wejscie;
    animation-duration: 2s;
    
}

#footer
{
    color: #f3f3f3;
    float: right;
}

.button
{
    padding: 20px 100px;
    display: inline-block;
    background-color: #f3f3f3;
    font-size: 17px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16pt;
    font-family: "Verdana Regular";
    letter-spacing: 1px;
    color: #101010;
    transition: 0.3s;
}

a, a:visited
{
    text-decoration: none;
    color: #101010;
}

a:hover
{
    background-color: #101010;
    color: #f3f3f3;
}

@keyframes wejscie
{
    from 
    {
        opacity: 0;
    } 
    to 
    {
        opacity: 1;
    } 
}

@-webkit-keyframes wejscie
{
    from 
    {
        opacity: 0;
    } 
    to 
    {
        opacity: 1;
    } 
}