body
{
    background-color: #101010;
    color: #f3f3f3;
}

#baner
{
    text-align: center;
}

#opis
{
    width: 60%;
    
}

#stopka
{
    background-color: #101010;
    height: 60px;
    width: 100%;

    font-family: "Verdana Regular";
    font-weight: 0px;
    letter-spacing: 5pt;
    font-size: 12px;
}

#button .wybieracz
{
    background-color: #101010;
    padding: 20px 50px 20px;
    color: #f3f3f3;
    float: left;
    transition-duration: 0.5s;
    text-decoration: none;
}

#button .wybieracz:hover
{
    background-color: #f3f3f3;
    color: #101010;
}

.baner
{
    width: 60%;
}

.title
{
    font-family: "Verdana Regular";
    font-size: 40px;
    letter-spacing: 5px;
}

.undertitle
{
    font-family: "Verdana Regular";
    font-size: 20px;
    letter-spacing: 5px;
}

.opis
{
    font-family: "Verdana Regular";
    font-size: 20px;
    letter-spacing: 5px;
}


.kopia
{
    text-align: right;
    padding: 20px 50px 20px;
}