body
{
    background-color: #f3f3f3;
    color: #f3f3f3;
}

#panele_gorny
{
    width: 100%;
    height: 100%;
    float: left;
    position: absolute;
}

#panele_srodek
{
    color: #101010;
    text-align: center;
    font-family: "Verdana Regular";
    font-weight: 0px;
    font-size: 28px;
    letter-spacing: 10pt;
    height: 50%;
    width: 100%;
    padding-top: 20%;

    animation: fade;
    animation-duration: 2s;
}

.logo
{
    font-size: 30pt;
    letter-spacing: 10pt;
}

.podlogo
{
    padding-top: 4% ;
    font-size: 15pt;
    letter-spacing: 5pt;
}

.logo, .podlogo
{
    font-family: "Verdana Regular";
    font-weight: 0px;
    position: absolute;
    padding-left: 1.5%;
    animation: wejscie;
    animation-duration: 2s;
}

.text1
{
    color: #101010;
}

.kontakt
{
    color: #101010;
    font-size: 18px;
}

a:link
{
    color: #f3f3f3;
}
a:visited
{
    color: #f3f3f3;
}
a
{
    color: #f3f3f3;
}

#stopka
{
    background-color: #101010;
    height: 60px;
    width: 100%;

    font-family: "Verdana Regular";
    font-weight: 0px;
    letter-spacing: 5pt;
    font-size: 12px;
}

#button .wybieracz
{
    background-color: #101010;
    padding: 20px 50px 20px;
    color: #f3f3f3;
    float: left;
    transition-duration: 0.5s;
    text-decoration: none;
}

#button .wybieracz:hover
{
    background-color: #f3f3f3;
    color: #101010;
}

.kopia
{
    text-align: right;
    padding: 20px 50px 20px;
}

@keyframes fade
{
    from
    {
        opacity: 0;
    }
}